body{
            background-color: floralwhite;
        }
        
.rank{
            color: white;
            text-align: center;
        }
.two{
            color: white;
            font-weight: bold;
            text-align: center;
            font-size: 6em;
        }


#bk-image#school-img{
	display: block;
	position: absolute;
	width: 100%;
}

#notices{
	font-family: serif;
}
		
        
 #map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }